<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Portfolio</title>
    <meta name="description" content="My portfolio | Mi portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="script.js"></script>
    <title>Osvaldo Jimenez - Portfolio</title>
</head>

<body id="body">

    <div class="container" onload="detectMobile">

        <h1>Osvaldo Jimenez: Portfolio</h1>

        <h2>Contact | Contacto</h2>
        <p> <a href="mailto:ochoa@utexas.edu?">ochoa@utexas.edu</a></p>
        <p>________________________________________</p>
        <h2>Experience | Experiencia</h2>
        <p>Click on each to learn more!</p>
        <h2><input type="button" value="Software Engineer 1 at Keywords Studios" onclick="show(this, 'SWE1')" class="showClass"/></h2>
        <div class="myWork" id="SWE1" tag="KS">
            <ul>
                <h4>Work in internal and external projects.</h4>
                <p2>General tasks include:</p2>
                <p3>Functionality (in code or otherwise), Fixing bugs, Documentation (e.g. TDD), Working/Communicating with clients and team.</p3>
                <h4>For Internal work</h4>
                <p2>Worked on internal projects. Also on improving and learning new skills.</p2>
                <p3>One project revolved around profiling for performance in Unity</p3>
                <p3>Involved researching, applying that knowledge to a real project, and presenting it all to the other engineers.</p3>
                <h4>For External Work</h4>
                <p2>Developing functionality for games in C++/Blueprints within UE4/5.</p2>
                <p3>Networking, character actions/movement, and other miscellaneous tasks.</p3>
                <h5>UE4, UE5, Unity, C++, Blueprints, Perforce, Jira, Slack, Teams, Microsoft Office, Scrum/Agile methodology</h5>
            </ul>
        </div>

        <h2><input type="button" value="Engineer Intern at EA: Industrial Toys Studio" onclick="show(this, 'Internship')" class="showClass"/></h2>
        <div class="myWork" id="Internship" tag="EA">
            <ul>
                <h4>Developed a stats system in UE4's C++ class, GameInstanceSubsystem</h4>
                <p2>Designed the system off preexisting code from other teammates</p2>
                <p3>Improved said code while keeping functionality across everything</p3>
                <p2>Made stats system to be generic and easy to use, and easily modifiable in current or future projects
                </p2>
                <p3>Wrote a technical design document for planning out the implementation process</p3>
                <h4>Created a powerup in Blueprints for a current project of the studio</h4>
                <p2>A drone that reacted to other actors in the game world, spawned by player input and with a lifetime</p2>
                <h5>UE4, C++, Blueprints, Perforce, Jira, Scrum/Agile methodology</h5>
            </ul>
        </div>
        <p>________________________________________</p>

        <h2>Works | Trabajos</h2>
        <p>Click on each to learn more!</p>

        <h2><input type="button" value="Aire" onclick="show(this, 'aire')" class="showClass" /></h2>
        <div class="myWork" id="aire" tag="yee">
            <h4>Play as a dragon in a 3d environment!</h4>
            <h5><a href="https://lajas.itch.io/aire"><img src="Images/aire_Title.png" class="img"></a></h5>
            <h5><a href="https://lajas.itch.io/aire">Itch.io page</a> | <a href="https://youtu.be/3BBDMMhJJxE">Aire
                    video demo</a> | <a
                    href="https://drive.google.com/drive/folders/1Alqo_FqEXimQpQHkFgzV-wuLTrfRQ0Wb?usp=sharing">Aire
                    Music Folder</a></h5>
            <h5>Worked on audio, design, programming, and more. UE4, C++ Blueprints, Garageband, Gitlab</h5>

        </div>

        <h2><input type="button" value="Mrs. Fantastic’s Freaky Figurine Shop" onclick="show(this, 'freaky')"
                class="showClass" /></h2>
        <div class="myWork" id="freaky">
            <h4>3 children turned into toys by an evil witch are trapped in a toy store. Solve the puzzles and escape!
            </h4>
            <h5><a href="https://juliand547.itch.io/mrs-fantastics-freaky-figurine-shop"><img
                        src="Images/Sign-MrsFantasticFreakyFigurineShop.png" class="img"></a></h5>
            <h5><a href="https://juliand547.itch.io/mrs-fantastics-freaky-figurine-shop">Itch.io page</a> | <a
                    href="https://drive.google.com/drive/folders/1r_hOlDuwtHHhF4z-58wI0KaGxicCFWAc?usp=sharing">Audio</a>
            </h5>
            <h5>Worked on audio and programming, helped with design among other things. Unity, C#, Audacity, Garageband,
                Github</h5>
        </div>

        <h2><input type="button" value="Silver Knight" onclick="show(this, 'silver')" class="showClass" />
            <h2>
                <div class="myWork" id="silver">
                    <h4>Use your teleporting powers to defeat the evil monsters in this hack-and-slash adventure!</h4>
                    <h5><a href="https://ojocs.github.io/Silver-Knight-Game/"><img src="Images/silverKnight-Intro.png"
                                class="img"></a></h5>
                    <h5><a href="https://lajas.itch.io/silver-knight">Itch.io page</a> | <a
                            href="https://ojocs.github.io/Silver-Knight-Game/">Game</a></h5>
                    <h5>Worked on programming for characters. Phaser.io, Javascript, HTML/CSS, Github</h5>
                </div>

                <h2><input type="button" value="BieneStar" onclick="show(this, 'bieneStar')" class="showClass" /></h2>
                <div class="myWork" id="bieneStar">
                    <h4>An app designed with your well-being in mind. Complete daily tasks, interact with other users,
                        and relax.</h4>
                    <h5><a href="https://gitlab.com/JordanHilder9/cs371l-ios-group-proj"><img src="Images/bieneStar.png"
                                class="img2"></a></h5>
                    <h5><a href="https://gitlab.com/JordanHilder9/cs371l-ios-group-proj">Gitlab link (request access if
                            needed)</a></h5>
                    <h5>Worked on "share a feeling" feature, general programming and audio. Swift iOS, Gitlab,
                        Garageband</h5>
                </div>

                <h2><input type="button" value="Flight or Fight" onclick="show(this, 'flightFight')"
                        class="showClass" /></h2>
                <div class="myWork" id="flightFight">
                    <h4>Destroy the incoming blocks as a laser-powered triangle in this asteroids inspired game!</h4>
                    <h5><a href="https://scratch.mit.edu/projects/98059678"><img src="Images/fightOrFlight.png"
                                class="img"></a></h5>
                    <h5><a href="https://scratch.mit.edu/projects/98059678">Game link</a></h5>
                    <h5>Worked on programming, art, and more. MIT's Scratch</h5>
                </div>

                <h2><input type="button" value="Zanzibar" onclick="show(this, 'zanzibar')" class="showClass" /></h2>
                <div class="myWork" id="zanzibar">
                    <h4>Can you save the valley from the monsters that roam within it? Gain power from your defeated
                        foes and slay the dragon in the castle in this 3d adventure!</h4>
                    <h5><a href="https://lajas.itch.io/zanzibar"><img src="Images/zanzibar_Title.png" class="img"></a>
                    </h5>
                    <h5><a href="https://lajas.itch.io/zanzibar">Itch.io page</a></h5>
                    <h5>Worked on design, stats and combat system, weapons and player character. UE4, C++, Blueprints,
                        Mixamo (Adobe), Gitlab</h5>
                </div>

                <h2><input type="button" value="Some music works:" onclick="show(this, 'music')" class="showClass" />
                </h2>
                <div class="myWork" id="music">
                    <h5><a href="https://drive.google.com/drive/folders/1SUu4_v7kvVvl8ERQg_FofMdS0pqriHjE?usp=sharing">Drive
                            with AET 305 works</a></h5>
                    <h5>LogicProX</h5>
                    <h5><a href="https://drive.google.com/drive/folders/1IMfaCa26D33AZM_cdGHVvgmgyBNBIUCb?usp=sharing">Drive
                            with other original works</a></h5>
                    <h5>Garageband</h5>
                </div>

                <h2><input type="button" value="Narrative essay/analysis on games:" onclick="show(this, 'narrative')"
                        class="showClass" /></h2>
                <div class="myWork" id="narrative">
                    <h5><a href="Misc/Game Narrative Review - Star Wars Battlefront II by Osvaldo Jimenez.pdf">SW-BF2 --
                            Game Narrative Review</a></h5>
                    <h5><a href="https://playjournal.game.blog/">Play Journal Blog, Spring 2020</a></h5>
                </div>

                <!-- <p>________________________________________</p>

            <h2>Academic Transcript | Expediente Académico</h2>
                <p2><a href="Misc/University_of_Texas_Academic_Summary.pdf">Transcript</a></p2> -->

                <p>________________________________________</p>

                <h2>Sites | Sitios</h2>

                <p2>
                    <a href="https://lajas.itch.io/"><input type="image" value="Itch" class="sitesImg"
                            src="Images/itch-io-logo-clipart.png"></a>
                    <a href="https://github.com/ojocs"><input type="image" value="Github" class="sitesImg"
                            src="Images/GitHub_logo.png"></a>
                    <a href="https://gitlab.com/osvcs"><input type="image" value="Gitlab" class="sitesImg"
                            src="Images/gitlab-logo-png-transparent.png"></a>
                    <a href="https://www.linkedin.com/in/osvaldo-jo/"><input type="image" value="LinkedIn"
                            class="sitesImg" src="Images/logo-linkedin-icon-4096.png"></a>
                </p2>

                <p>________________________________________</p>

                <h2>Resume | Curriculum</h2>
                <!-- <% if (detectMobile()) {%> -->
                <!-- <embed src="Resumes/Resume - August2021.pdf" width="800px" height="1000px" /> -->
                <!-- <% } endif %> -->
                <p2><a href="Resumes/Resume - November2022.pdf">November 2022</a></p2>
                <p2><a href="Resumes/Resume - August2021.pdf">August 2021</a></p2>
                <p2><a href="Resumes/Resume - May2021.pdf">May 2021</a></p2>
                <p2><a href="Resumes/Resume-April2021.pdf">April 2021</a></p2>
                <p2><a href="Resumes\Resume-Feb2021.pdf">Feb 2021</a></p2>
                <p2><a href="Resumes/Jimenez_Osvaldo.resume.pdf"> Oct 2020</a></p2>
                <p2><a href="Resumes/Resume%20--%20Current%20Sept%202020.pdf">Sept 2020</a></p2>
                <p2><a href="Resumes/Resume%20--%20as%20of%202-21-2019%20-%20Osvaldo%20Jimenez.pdf">Feb 2019</a>
                </p2>
                <p2><a href="Resumes/Resume%20--%20as%20of%2011_21_2018%20-%20Osvaldo%20Jimenez.docx">Oct 2018</a></p2>
                <p>________________________________________</p>
                <p></p>
    </div>
</body>