*{
    margin: 0; /*Removes margin*/
}

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(75, 99, 99) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    align-content: center;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 1% 1%;
    padding: 2em 2em 2em, 1em;
    align-content: center;
    text-align: justify;
    text-justify: auto;
}

h1, h2, h3, .showClass {
    color:black;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}

h1 {
    padding-top: 5%;
}

h2 {
    margin-top: 1.3em;
    text-decoration-skip: spaces;
    align-content: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 0.95;
}
  
/* Older browsers */
h2 {
    letter-spacing: 1px;
    line-height: 0.95;
}
  
/* If browser supports font-size-adjust, use this */
@supports (font-size-adjust: none) {
h2 {
    letter-spacing: 0;
    line-height: 1;
    font-size-adjust: 0.59;
    }
}
  
/* Once the web font has loaded, apply this */
.webfont-loaded h2 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
    line-height: 1;
}
    

h3 {
    text-align: center;
    align-self:center;
}

h4, h5 {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
}

h4 {
    color: rgb(104, 42, 0);
    text-align: center;
    padding-top: 1em;
}

h5 {
    color: darkblue;
    text-align: center;
    text-size-adjust: auto;
}

h5 a:hover{
    font-size: 120%;
}

p {
    align-content: center;
    color: blue;
    text-align: center;
}

p a:hover{
    font-size: 120%;
}

p2 {
    color: black;
    text-align: center;
    display:list-item;
    list-style: none;
}

p3 {
    color: black;
    text-align: center;
}

.showClass {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    color:blue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    padding: 2em 2em 2em, 3em;
    background-color: transparent;
    border: 0;
    align-content: center;
    font-weight: 600;
}

ul input:hover{
    font-size: 200%;
}

ul {
    color:black;
    text-align: center;
}

ul p2 a:hover{
    font-size: 120%;
}

b, strong {
    font-weight: 600;
}

li {
    text-align: justify;
}

samp {
    display: none;
}

img {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 70%;
}

.img2 {
    max-width: 20%;
    max-height: 10%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0%;
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 100%;
    }
}

.container {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    height:100%;
    width: auto;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(128, 243, 243) 100%);
    background-position: center;
    background-size: cover;
    position:static;
    align-content: center;
    text-align: center;
    margin: auto;
    display:flow-root;
    justify-content: center;
}

.container p {
    align-content: center;
    text-align: center;
}

.myWork {
    align-content: center;
    text-align: justify;
    text-justify: auto;
    display: none;
}

h2 input:hover{
    font-size: 120%;
}

@supports (text-shadow: none) {
  h2 input:hover,
  h2 input:focus {
    font-weight: normal;
    text-shadow: 1px 0 0 currentColor;
  }
}